# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - master
  - release/*

stages:
- stage: build
  jobs:
  - job: build
    pool:
      vmImage: 'windows-latest'
    steps:
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact: Plugins'
      inputs:
        PathtoPublish: Assets/Plugins
        ArtifactName: Plugins
- stage: release
  dependsOn: build
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/heads/release/'))
  jobs:
  - job: github_release
    pool:
      vmImage: 'windows-latest'
    steps:
    - task: DownloadBuildArtifacts@0
      inputs:
        artifactName: Plugins
        buildType: 'current'
        downloadType: 'single'
        downloadPath: '$(System.ArtifactsDirectory)'
    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: '$(System.ArtifactsDirectory)/Plugins'
        includeRootFolder: true
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/Plugins-$(Build.SourceBranchName).zip'
        replaceExistingArchive: true
    - task: GitHubRelease@1
      displayName: 'GitHub release (create)'
      inputs:
        gitHubConnection: 'github connection 2'
        repositoryName: '$(Build.Repository.Name)'
        action: 'create'
        target: '$(Build.SourceVersion)'
        tagSource: 'userSpecifiedTag'
        tag: '$(Build.SourceBranchName)'
        title: '$(Build.SourceBranchName)'
        assets: '$(Build.ArtifactStagingDirectory)/*.zip'
        isDraft: true
        changeLogCompareToRelease: 'lastFullRelease'
        changeLogType: 'commitBased'
