<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JsonDiffPatch" version="1.0.35" targetFramework="net45" />
  <package id="MsgPack.Cli" version="0.6.8" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="Tavis.JsonPointer" version="0.5.0" targetFramework="net45" />
  <package id="WebSocketSharp" version="1.0.3-rc9" targetFramework="net45" />
</packages>